.content {
	max-width: 800px;
	margin:auto;
}

body {
	background-image: url("myBackground.png");
	background-color: black;
}
h1 {
  color: #00BFFF;
  margin-left: 20px;
}

p {
color: #00BFFF;
margin-left:20px;
}
