.content {
	max-width: 800px;
	margin:20px;
	margin:auto;
}

body {
	background-image: url("myBackground.png");
	background-color: black;
}
h1 {
  color: white;
  margin-left: 20px;
}

p {
color: white;
margin-left:20px;
}

.img {
	margin:25px;
}

